extends layout 

block content
        p Do you really want to delete this Game?
        form(method="post") 
            div.form-group
                label(for="password") Admin Password: 
                input#password(type="password", name="password") 
                if password 
                    p= password
            input#gameid.form-control(type="hidden", name='gameid', value=game_id)
            button.btn.btn-primary(type="submit") Delete